/* INDEX STYLES */

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(180deg,#4ac1ff,#795bb0);
  }

  .greet {
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}


.name  {
  font-family: 'Permanent Marker', cursive;
    margin-top: 0em;
    padding-top: 0em;
    font-size: 5em;
  background: -webkit-linear-gradient(rgb(243, 153, 255), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    letter-spacing: 0em;
    text-transform: uppercase;
    border-bottom: none ;

  }

  .pupu {
        padding: 10em 0;
        position: relative;
        text-align: center;
        height: 330px;
    }
  

/* Forms */

form {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  background-image: url(https://image.freepik.com/free-photo/minimal-work-space-creative-flat-lay-photo-workspace-desk-with-sketchbook-wooden-pencil-copy-space-white-background-top-view-flat-lay-photography_1253-1067.jpg);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color:black;
  padding: 20px;
  width: 40%;
  color: lightgray;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

select {
  width: 28%;
  padding: 16px 20px;
  border: 1px solid darkblue;
  border-radius: 4px;
  background-color: lightgray;
}

input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
  



/* footer */
.social {
  color: black;
}

#linkedin{
  background-color: #1D87BE;
  font-size: 200%;
}
#linkedin:hover{
  background-color: #136F9E;
  font-size: 200%;
}

#google-plus{
  background-color: #B30000;
  font-size: 200%;
}
#google-plus:hover{
  background-color: #990000;
  font-size: 200%;
}

#github{
  background-color: #0F4F8A;
  font-size: 200%;
}
#github:hover{
  background-color: #0B3A66;
  font-size: 200%;
}

  #foot {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }


  /* nav styles */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


 
/* BLOG STYLES */

  header{
    text-align: center;
  }
  
  
  img {
  max-width:100%;
  height: auto;
  }
  
  h1 {
  font-weight: 200;  
  text-align: center;
  }
  
  p {
      font-size: 17px;
      line-height: 28px;  
     font-family: Arial, Helvetica, sans-serif;
  }
  
  .container  {
  max-width:1500px;
  margin: auto;
  }
  
  .main-container {
    display:grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    }
  
  .main {
  padding-top: 40px;  
  padding-bottom: 40px;
  }
    .blog-item {
    border:1px solid #ddd;
    background-color: #fff;
    border-radius:3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow:hidden;
    }
      .blog-item-image {
      height: 220px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
      border-bottom:3px;
      overflow:hidden;
      }
      .blog-item-content {
      padding: 15px;
      text-align: center;
      }
        h2 {
        margin-left: -15px;
        margin-right: -15px;
        color: rebeccapurple;
        }
  
  
  .blog_post_image_grid {
  display:grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:5px;
  }
    img {
    padding: 5px;
    background-color: #eee;
    border:1px solid #ddd;
    }
  
    /*Button Styling*/
    
  .bg{
    background-color: bisque;
    text-align: center;
    }
  
  .container-button{
  display: inline-block;
    }


  button{
  background-color: #22232c;
  color: #ffffff;
  height: 50px;
  width: 200px;
  line-height: 50px;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  letter-spacing: 2px;
  border: none;
  border-radius: 3px;
  margin: 10px;
  font-size: 180%;
  
  }
  button:hover{
  box-shadow: 20px 20px 20px 20px rgba(65, 55, 55, 0.3);
  }
  
  .blog-post {
    border: 1px solid black;
    margin: 30px 50px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  /* PROJECT STYLES */

  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
    position: relative;
  }
  
  .header {
    grid-area: header;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .wrapper {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 500px 500px 500px;
          grid-template-areas:"sidebar content content";
          color: #444;
          justify-content: center;
      }
  
  .box {
    background-color: #444;
    color: black;
    border-radius: 5px;
    padding: 50px;
    font-size: 150%;
  }
  
  .sidebar,
  .content {
    background-color: lightblue;
  }
  

 